<a href="https://colab.research.google.com/github/thavoo/covid19-python/blob/master/webscrappyng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [0]:
req = requests.get('https://www.worldometers.info/coronavirus/')

In [0]:
soup = BeautifulSoup(req.content)

In [0]:
data = list(map(lambda x: list(map(lambda y: y.text, x.select('td, th'))), soup.select('table#main_table_countries_today tr')))

In [0]:
df = pd.DataFrame(data)

In [0]:
df.columns = df.iloc[0]

In [0]:
df.drop(0, axis=0,inplace=True)

In [17]:
df

0             Country,Other TotalCases  ... Tot Cases/1M pop Tot Deaths/1M pop
1                     China     81,285  ...               56                 2
2                     Italy     74,386  ...            1,230               124
3                       USA     68,836  ...              208                 3
4                     Spain     56,188  ...            1,202                87
5                   Germany     40,421  ...              482                 3
..                      ...        ...  ...              ...               ...
196        Papua New Guinea          1  ...              0.1
197  St. Vincent Grenadines          1  ...                9
198             Timor-Leste          1  ...              0.8
199        Turks and Caicos          1  ...               26
200                  Total:    491,307  ...             63.0               2.8

[200 rows x 10 columns]

In [0]:
df.to_csv('covid19')